# Node.js
node_modules/

# Cucumber reports
allure-results/
allure-report/

# Jest reports
reports/

# Playwright artifacts
playwright-artifacts/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Test screenshots
screenshots/

# Compiled files
lib/
dist/
*.js.map
*.d.ts

# Editor directories and files
.editorconfig
.eslintcache
.history

# Dependency directories
jspm_packages/
typings/

# Cucumber.js temp files
cucumber-tsflow-temp/
cucumber-tsflow-temp-debug/

# TypeScript files
*.tsbuildinfo

# Other
puppeteer.dev.log
*.sqlite
*.psd
